import os
from azure.identity import DefaultAzureCredential
from azure.ai.projects import AIProjectClient
from azure.ai.projects.models import AgentReference, PromptAgentDefinition
from azure.ai.openai.models import ResponsesUserMessageItemParam


client = AIProjectClient(
    endpoint=<%= endpoint %>,
    credential=DefaultAzureCredential(),
)

with client:

    # [START prompt_agent_basic]
    agent = client.agents.create_version(
        agent_name="<%= agentName %>",
        definition=PromptAgentDefinition(
            model=<%= modelDeploymentName %>,
            instructions="You are a helpful assistant that answers general questions",
        ),
    )
    print(f"Agent created (id: {agent.id}, name: {agent.name}, version: {agent.version})")

    conversation = client.agents.conversations.create(
        items=[ResponsesUserMessageItemParam(content="What is the size of France in square miles?")]
    )
    print(f"Created conversation with initial user message (id: {conversation.id})")

    response = client.agents.responses.create(
        agent=AgentReference(name=agent.name),
        conversation=conversation.id,
    )
    print(f"Response output: {response.output_text}")

    client.agents.conversations.create_items(
        conversation_id=conversation.id,
        items=[ResponsesUserMessageItemParam(content="And what is the capital city?")],
    )
    print(f"Added a second user message to  the conversation")

    response = client.agents.responses.create(
        agent=AgentReference(name=agent.name),
        conversation=conversation.id,
    )
    print(f"Response output: {response.output_text}")

    client.agents.conversations.delete(conversation_id=conversation.id)
    print("Conversation deleted")

    client.agents.delete_version(agent_name=agent.name, agent_version=agent.version)
    print("Agent deleted")
    # [END prompt_agent_basic]