import base64
<% if (useEnvVars) { %>
import os
<% } %>
from openai import OpenAI
<% if (useTokenCredentials) { %>
from azure.identity import DefaultAzureCredential, get_bearer_token_provider
<% } %>

<%= python.valueOrEnvironment(useEnvVars, "endpoint", "AZURE_OPENAI_ENDPOINT", endpoint) %>
<%= python.valueOrEnvironment(useEnvVars, "deployment_name", "AZURE_OPENAI_DEPLOYMENT", deploymentName) %>
<% if (useTokenCredentials) { %>
token_provider = get_bearer_token_provider(DefaultAzureCredential(), "https://cognitiveservices.azure.com/.default")
<% } else { %>
<%= python.valueOrEnvironment(useEnvVars, "api_key", "AZURE_OPENAI_API_KEY", apiKey) %>
<% } %>

<% if (useTokenCredentials) { %>
client = OpenAI(
    base_url=f"https://{endpoint}/openai/v1",
    api_key_provider=token_provider
)
<% } else { %>
client = OpenAI(
    base_url=f"https://{endpoint}/openai/v1",
    api_key=api_key
)
<% } %>

img = client.images.generate(
    model=deployment_name,
    prompt="A cute baby polar bear",
    n=1,
    size="1024x1024"
)

image_bytes = base64.b64decode(img.data[0].b64_json)
with open("output.png", "wb") as f:
    f.write(image_bytes)
