import AnthropicFoundry from '@anthropic-ai/foundry-sdk';
<% if (useTokenCredentials) { %>
import { getBearerTokenProvider, DefaultAzureCredential } from "@azure/identity";
<% } %>

<%= javascript.valueOrEnvironment(useEnvVars, "endpoint", "ANTHROPIC_FOUNDRY_ENDPOINT", endpoint)%>
<%= javascript.valueOrEnvironment(useEnvVars, "deploymentName", "ANTHROPIC_FOUNDRY_DEPLOYMENT", deploymentName)%>
<% if (!useTokenCredentials) { %>
<%= javascript.valueOrEnvironment(useEnvVars, "apiKey", "ANTHROPIC_FOUNDRY_API_KEY", apiKey)%>
<% } else { %>
const tokenProvider = getBearerTokenProvider(
    new DefaultAzureCredential(),
    'https://cognitiveservices.azure.com/.default');
<% } %>


const client = new AnthropicFoundry({
    <% if (useTokenCredentials) { %>
    azureADTokenProvider: tokenProvider,
    <% } else { %>
    apiKey: apiKey,
    <% } %>
    baseURL: endpoint,
    apiVersion: "2023-06-01"
});

const message = await client.messages.create({
    model: deploymentName,
    messages: [{ role: "user", content: "What is the capital of France?" }],
    <% if (extraParams) { %>
    <% if (extraParams.maxTokens) { %>
    max_tokens: <%= extraParams.maxTokens %>,
    <% } %>
    <% } %>
});
console.log(message);
