using Anthropic.Client.Foundry;
using Anthropic.Client.Models.Messages;
<% if (useTokenCredentials) { %>
using Azure.Identity; 
<% } %>

<%= csharp.valueOrEnvironment(useEnvVars, "deploymentName", "ANTHROPIC_FOUNDRY_DEPLOYMENT", deploymentName) %>
<%= csharp.valueOrEnvironment(useEnvVars, "endpoint", "ANTHROPIC_FOUNDRY_ENDPOINT", endpoint) %>
<% if (useTokenCredentials) { %>

BearerTokenPolicy tokenPolicy = new(
    new DefaultAzureCredential(),
    "https://cognitiveservices.azure.com/.default");
<% } else { %>
<%= csharp.valueOrEnvironment(useEnvVars, "apiKey", "AZURE_OPENAI_API_KEY", apiKey) %>
<% } %>

FoundryAnthropicClient client = new(
    <% if (useTokenCredentials) { %>
    AuthToken: tokenPolicy,
    <% } else { %>
    new AnthropicFoundryTokenCredential(apiKey),
    <% } %>
    endpoint
);

MessageCreateParams parameters = new()
{
    Messages =
    [
        new()
        {
            Role = Role.User,
            Content = "What is the capital of France?",
        },
    ],
    Model = deploymentName,
    <% if (extraParams) { %>
    <% if (extraParams.maxTokens) { %>
    MaxTokens = <%= extraParams.maxTokens %>,
    <% } %>
    <% } %>
};

var message = await client.Messages.Create(parameters);

Console.WriteLine(message);