import OpenAI from "openai";
<% if (useTokenCredentials) { %>
import { getBearerTokenProvider, DefaultAzureCredential } from "@azure/identity";
<% } %>

<%= javascript.valueOrEnvironment(useEnvVars, "endpoint", "AZURE_OPENAI_ENDPOINT", endpoint)%>
<%= javascript.valueOrEnvironment(useEnvVars, "deploymentName", "AZURE_OPENAI_DEPLOYMENT", deploymentName)%>
<% if (!useTokenCredentials) { %>
<%= javascript.valueOrEnvironment(useEnvVars, "apiKey", "AZURE_OPENAI_API_KEY", apiKey)%>
<% } else { %>
const tokenProvider = getBearerTokenProvider(
    new DefaultAzureCredential(),
    'https://cognitiveservices.azure.com/.default');
<% } %>

const openai = new OpenAI({
    baseURL: endpoint,
    <% if (useTokenCredentials) {%>
    apiKey: tokenProvider
    <% } else { %>
    apiKey: apiKey
    <% } %>
});

async function main() {
  const completion = await openai.chat.completions.create({
    messages: [{ role: "developer", content: "You are a helpful assistant." }],
    model: deploymentName,
    store: true,
  });

  console.log(completion.choices[0]);
}

main();