<% if (useEnvVars) { %>
import os
<% } %>
<% if (useTokenCredentials) { %>
from azure.identity import DefaultAzureCredential
<% } %>
from azure.ai.projects import AIProjectClient
from azure.ai.projects.models import PromptAgentDefinition

<%= python.valueOrEnvironment(useEnvVars, "user_endpoint", "AZURE_OPENAI_ENDPOINT", endpoint) %>

project_client = AIProjectClient(
    endpoint=user_endpoint,
    credential=DefaultAzureCredential(),
    api_version="<%= apiVersion %>",
)

<%= python.valueOrEnvironment(useEnvVars, "agent_name", "AGENT_NAME", agentName) %>
<%= python.valueOrEnvironment(useEnvVars, "model_deployment_name", "MODEL_DEPLOYMENT_NAME", modelDeploymentName) %>

# Creates agent version if agent is new or parameters have changed
agent = project_client.agents.create_version( 
    agent_name=agent_name,
    definition=PromptAgentDefinition(
            model=model_deployment_name,
            instructions="You are a helpful assistant that answers general questions",
        ),
)

openai_client = project_client.get_openai_client()

# Reference the agent to get a response
response = openai_client.responses.create(
    input=[{"role": "user", "content": "Tell me a one line story"}],
    extra_body={"agent": {"name": agent.name, "type": "agent_reference"}},
)

print(f"Response output: {response.output_text}")



