<% if (useEnvVars) { %>
import os
<% } %>
from anthropic import AnthropicFoundry
<% if (useTokenCredentials) { %>
from azure.identity import DefaultAzureCredential, get_bearer_token_provider
<% } %>

<%= python.valueOrEnvironment(useEnvVars, "endpoint", "ANTHROPIC_FOUNDRY_ENDPOINT", endpoint) %>
<%= python.valueOrEnvironment(useEnvVars, "deployment_name", "ANTHROPIC_FOUNDRY_DEPLOYMENT", deploymentName) %>
<% if (useTokenCredentials) { %>
token_provider = get_bearer_token_provider(DefaultAzureCredential(), "https://cognitiveservices.azure.com/.default")
<% } else { %>
<%= python.valueOrEnvironment(useEnvVars, "api_key", "ANTHROPIC_FOUNDRY_API_KEY", apiKey) %>
<% } %>

client = AnthropicFoundry(
    <% if (useTokenCredentials) { %>
    azure_ad_token_provider=token_provider,
    <% } else { %>
    api_key=api_key,
    <% } %>
    base_url=endpoint
)

message = client.messages.create(
    model=deployment_name,
    messages=[
        {"role": "user", "content": "What is the capital of France?"}
    ],
    <% if (extraParams) { %>
    <% if (extraParams.maxTokens) { %>
    max_tokens=<%= extraParams.maxTokens %>,
    <% } %>
    <% } %>
)

print(message.content)