# Before running the sample:
#    pip install --pre azure-ai-projects>=2.0.0b1
#    pip install azure-identity

<% if (useEnvVars) { %>
import os
<% } %>
<% if (useTokenCredentials) { %>
from azure.identity import DefaultAzureCredential
<% } %>
from azure.ai.projects import AIProjectClient
from azure.ai.projects.models import PromptAgentDefinition

<%= python.valueOrEnvironment(useEnvVars, "user_endpoint", "AZURE_OPENAI_ENDPOINT", endpoint) %>

project_client = AIProjectClient(
    endpoint=user_endpoint,
    credential=DefaultAzureCredential(),
    <% if (apiVersion) { %>
    api_version="<%= apiVersion %>",
    <% } %>
)

<%= python.valueOrEnvironment(useEnvVars, "agent_name", "AGENT_NAME", agentName) %>
<%= python.valueOrEnvironment(useEnvVars, "model_deployment_name", "MODEL_DEPLOYMENT_NAME", modelDeploymentName) %>

<% if (createAgentVersion) { %>
# Creates an agent, bumps the agent version if parameters have changed
agent = project_client.agents.create_version(  
<% } else { %>
# Creates an agent, will fail if an agent with the same name already exists
agent = project_client.agents.create( 
<% } %>
    agent_name=agent_name,
    definition=PromptAgentDefinition(
            model=model_deployment_name,
            instructions="You are a storytelling agent. You craft engaging one-line stories based on user prompts and context.",
        ),
)

<% if (showOpenAIResponse) { %>
openai_client = project_client.get_openai_client()

# Reference the agent to get a response
response = openai_client.responses.create(
    input=[{"role": "user", "content": "Tell me a one line story"}],
    extra_body={"agent": {"name": agent.name, "type": "agent_reference"}},
)

print(f"Response output: {response.output_text}")
<% } %>


